<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="500" border="4">
    <tr>
      <td><a href="/approve_advocate">Approve advocate</a></td>
    </tr>
    <tr>
      <td><a href="/manage_court_details">Add and manage court details</a></td>
    </tr>
    <tr>
      <td><a href="/manage_section">Add and manage section and question</a></td>
    </tr>
      <tr>
      <td><a href="/manage_case_section_question">manage case</a></td>
    </tr>
    <tr>
      <td><a href="/view_complaint">View complaint and send reply</a></td>
    </tr>
      <tr>
      <td><a href="/manage_dataset">Add and manage dataset</a></td>
    </tr>
    <tr>
      <td><a href="/feedback">View feedback and rating</a></td>
    </tr>
    <tr>
      <td><a href="/Block_advocate">Block advocate</a></td>
    </tr>
    <tr>
      <td><a href="/">logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
