{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />#}
{#<title>Untitled Document</title>#}
{#</head>#}

{% extends 'adv/advocate_index.html' %}
{% block body %}
<body xmlns="http://www.w3.org/1999/html">
<form id="form1" name="form1" method="post" action="/advstatuscode">
  <table width="200" border="1" class="table table-striped">
    <tr>
      <td>Status</td>
      <td><label>
        <select name="textfield" class="form-control" />
          <option>Available</option>
          <option>Not available</option>
      </select>

      </label></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><label>
        <input type="submit" name="Submit" value="Update" class="btn btn-outline-success" />
      </label></td>
    </tr>
  </table>
</form>
</body>
{#</html>#}
{% endblock %}